* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    display: flex;
    flex-flow: wrap row;
}

.cartas {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    margin: 10px;
}

.cartas img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

button {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    background-color: burlywood;
}